<fieldset>
  <legend>Query: 
    <%= @search_phrase %>
  </legend>
  <p>Please click the checkbox next to each search result that seems relevant for the query above:</p>
  <ul>

    <%= form_for(@researcher_ranking) do |f| %>
      <% if @researcher_ranking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@researcher_ranking.errors.count, "error") %> prohibited this researcher_ranking from being saved:</h2>

          <ul>
          <% @researcher_ranking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <!-- catch the following values from the get params and send with the post -->
      <%= f.text_field :researcher_email, :value => @researcher_email, :class => 'hidden' %>
      <%= f.text_field :search_phrase, :value => @search_phrase, :class => 'hidden' %>
      <%= f.number_field :platform_id, :value => @platform_id, :class => 'hidden' %>
      <%= f.number_field :search_number, :value => @search_number, :class => 'hidden' %>

      <!-- Retrieve all search results for the search -->
      <% @search_results.each_with_index do |sr, sr_index| %>
        <% current_key = "result_" + (sr_index + 1).to_s %>
          <div class="search-result-record">  
            <%= f.check_box current_key.parameterize.underscore.to_sym, :class => "search-result-checkbox" %>

            <div class="search-result">
              <b><%= sr.search_result_title.html_safe %></b>
              <br>
              <div class="search-result-metadata">
                <%= sr.search_result_metadata.html_safe %>
              </div>        
            </div>
          </div>
        <br>
      <% end %>

      <div class="actions">
        <%= f.submit "Submit Responses" %>
      </div>
    <% end %>

  </ul>
</fieldset>