<h1>Listing researcher_rankings</h1>

<table>
  <thead>
    <tr>
      <th>Search</th>
      <th>Researcher</th>
      <th>Result one</th>
      <th>Result two</th>
      <th>Result three</th>
      <th>Result four</th>
      <th>Result five</th>
      <th>Result six</th>
      <th>Result seven</th>
      <th>Result eight</th>
      <th>Result nine</th>
      <th>Result ten</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @researcher_rankings.each do |researcher_ranking| %>
      <tr>
        <td><%= researcher_ranking.search_id %></td>
        <td><%= researcher_ranking.researcher_id %></td>
        <td><%= researcher_ranking.result_1 %></td>
        <td><%= researcher_ranking.result_2 %></td>
        <td><%= researcher_ranking.result_3 %></td>
        <td><%= researcher_ranking.result_4 %></td>
        <td><%= researcher_ranking.result_5 %></td>
        <td><%= researcher_ranking.result_6 %></td>
        <td><%= researcher_ranking.result_7 %></td>
        <td><%= researcher_ranking.result_8 %></td>
        <td><%= researcher_ranking.result_9 %></td>
        <td><%= researcher_ranking.result_10 %></td>
        <td><%= link_to 'Show', researcher_ranking %></td>
        <td><%= link_to 'Edit', edit_researcher_ranking_path(researcher_ranking) %></td>
        <td><%= link_to 'Destroy', researcher_ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Researcher ranking', new_researcher_ranking_path %>
