<p id="notice"><%= notice %></p>

<p>
  <strong>Search:</strong>
  <%= @researcher_ranking.search_id %>
</p>

<p>
  <strong>Researcher:</strong>
  <%= @researcher_ranking.researcher_id %>
</p>

<p>
  <strong>Result one:</strong>
  <%= @researcher_ranking.result_one %>
</p>

<p>
  <strong>Result two:</strong>
  <%= @researcher_ranking.result_two %>
</p>

<p>
  <strong>Result three:</strong>
  <%= @researcher_ranking.result_three %>
</p>

<p>
  <strong>Result four:</strong>
  <%= @researcher_ranking.result_four %>
</p>

<p>
  <strong>Result five:</strong>
  <%= @researcher_ranking.result_five %>
</p>

<p>
  <strong>Result six:</strong>
  <%= @researcher_ranking.result_six %>
</p>

<p>
  <strong>Result seven:</strong>
  <%= @researcher_ranking.result_seven %>
</p>

<p>
  <strong>Result eight:</strong>
  <%= @researcher_ranking.result_eight %>
</p>

<p>
  <strong>Result nine:</strong>
  <%= @researcher_ranking.result_nine %>
</p>

<p>
  <strong>Result ten:</strong>
  <%= @researcher_ranking.result_ten %>
</p>

<%= link_to 'Edit', edit_researcher_ranking_path(@researcher_ranking) %> |
<%= link_to 'Back', researcher_rankings_path %>
