<p id="notice"><%= notice %></p>

<p>
  <strong>Search:</strong>
  <%= @researcher_ranking.search_id %>
</p>

<p>
  <strong>Researcher:</strong>
  <%= @researcher_ranking.researcher_id %>
</p>

<p>
  <strong>Result one:</strong>
  <%= @researcher_ranking.result_1 %>
</p>

<p>
  <strong>Result two:</strong>
  <%= @researcher_ranking.result_2 %>
</p>

<p>
  <strong>Result three:</strong>
  <%= @researcher_ranking.result_3 %>
</p>

<p>
  <strong>Result four:</strong>
  <%= @researcher_ranking.result_4 %>
</p>

<p>
  <strong>Result five:</strong>
  <%= @researcher_ranking.result_5 %>
</p>

<p>
  <strong>Result six:</strong>
  <%= @researcher_ranking.result_6 %>
</p>

<p>
  <strong>Result seven:</strong>
  <%= @researcher_ranking.result_7 %>
</p>

<p>
  <strong>Result eight:</strong>
  <%= @researcher_ranking.result_8 %>
</p>

<p>
  <strong>Result nine:</strong>
  <%= @researcher_ranking.result_9 %>
</p>

<p>
  <strong>Result ten:</strong>
  <%= @researcher_ranking.result_10 %>
</p>

<%= link_to 'Edit', edit_researcher_ranking_path(@researcher_ranking) %> |
<%= link_to 'Back', researcher_rankings_path %>
