<!-- append view assets to head -->
<% content_for :header do %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'scaffolds' %>
  <%= stylesheet_link_tag 'black-background' %>
<% end %>

<div id="homepage">
  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
        <h1></h1>
        <h1>SEARCH SURVEY</h1>
        <br><br><br>
        <h3><b>Welcome to our search survey!</b><h3>
        <h3><b>Please click the button below to begin.</b><h3>
        <br><br>

        <%= button_to "Begin", new_researcher_path, :class => "btn-lg btn-primary", :method => :get  %>

        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div>
</div>
