<% content_for :header do %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'scaffolds' %>
  <%= stylesheet_link_tag 'survey_completed' %>
<% end %>

<div class="container">
  <div class="row centered">
    <div class="col-md-12">
      <div class="survey-completed">
        <h1>Thanks for completing our survey!</h1>
      </div>
    </div>
  </div>
</div>
