<h1>Listing researchers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>University</th>
      <th>Position</th>
      <th>Search group</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @researchers.each do |researcher| %>
      <tr>
        <td><%= researcher.email %></td>
        <td><%= researcher.name %></td>
        <td><%= researcher.university %></td>
        <td><%= researcher.position %></td>
        <td><%= researcher.search_group_id %></td>
        <td><%= link_to 'Show', researcher %></td>
        <td><%= link_to 'Edit', edit_researcher_path(researcher) %></td>
        <td><%= link_to 'Destroy', researcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Researcher', new_researcher_path %>
