<% content_for :header do -%>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'scaffolds' %>
  <%= stylesheet_link_tag 'researchers' %>
<% end -%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="researcher">
        <h1>New Researcher</h1>
        <p>Please enter your information below:</h1>
        <div id="new-researcher-form">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
