<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="search-results">
        <p id="notice"><%= notice %></p>
        <fieldset>
          <legend>Query: 
            <%= @search.search_phrase %>
          </legend>
          <p>Please select the results that are relevant for the query above:</p>
          <ul>


            <!-- Retrieve all search results for the search -->
            <% @search_results.each do |sr| %>
              <div class="search-result-record">  
                <input type="checkbox" class="search-result-checkbox">
                <div class="search-result">
                  <b><%= sr.result_title %></b>
                    <br>
                    <div class="search-result-metadata">
                      <% if sr.result_authors.length >= 1 %>
                        <%= sr.result_authors %>:
                      <% end %>
                      
                      <i><%= sr.result_journal %></i>,

                      <%= sr.result_publication_year %>

                      <% if sr.result_start_page.length >= 1 %>
                        <%= sr.result_start_page %>-

                        <% if sr.result_end_page.length >= 1 %>
                          <%= sr.result_end_page %>
                        <% else %>
                          <%= sr.result_start_page %>
                        <% end %>

                      <% elsif sr.result_end_page.length >= 1 %>
                        <%= sr.result_end_page %>-<%= sr.result_end_page %>
                      <% end %>
                    </div>

                  
                </div>
              </div>
              <br>
            <% end %>




          </ul>
        </fieldset>
      </div>
    </div>
  </div>
</div>