<!DOCTYPE html>
<html>
<head>
  <title>Search Survey</title>
  <!-- retrieve view-specific css if any -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield(:header) if content_for? :header %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- Navigation -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      </button>
      <a class="navbar-brand" href="#">SUR<i class="fa fa-check-square-o"></i>EY</a>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
